VITE_BUNNY_STREAM_LIBRARY_ID=711770
VITE_BUNNY_STREAM_ACCESS_KEY=your_bunny_stream_access_key
VITE_BUNNY_STORAGE_ACCESS_KEY=your_bunny_storage_access_key
VITE_BUNNY_STREAM_TOKEN_SECURITY_KEY=your_bunny_stream_token_security_key
